<div class="bg"></div>
<div class="container">
  <ng-container *ngIf="isHomePage">
    <p class="introduction">This is a simple bowling calculator. You can either start a new game and enter results manually, or load a pre-defined game from a JSON file.</p>
    <div class="start-button-container">
      <button mat-raised-button color="primary" (click)="startGame()" class="start-button">Start New Game</button>
      <button mat-raised-button (click)="loadPredefinedGame()">Load Predefined Game</button>
    </div>
  </ng-container>
  <ng-container *ngIf="!isHomePage">
    <ng-container *ngFor="let frame of frames; let i = index;">
      <div *ngIf="isGameLoaded || i <= currentFrame" class="frame" [ngClass]="{'even': i % 2 === 0, 'odd': i % 2 !== 0, 'strikeInfo': frame.first === 10, 'spareInfo': frame.first !== 10 && (frame.first ?? 0) + (frame.second ?? 0) === 10}">
        <mat-form-field appearance="fill">
          <mat-label>Roll 1</mat-label>
          <input matInput type="number" [(ngModel)]="frame.first" placeholder="Roll 1" min="0" max="10" (change)="updateFrame(i)" [disabled]="isGameLoaded" />
          <mat-error *ngIf="frame.first !== null && frame.first > 10">The score cannot be greater than 10</mat-error>
        </mat-form-field>
        <ng-container *ngIf="frame.first !== null && frame.first < 10">
          <div class="pins-info">
            <img *ngFor="let pin of [].constructor(frame.first); let first = first" src="assets/bowling-pin.png" alt="Bowling Pin" class="pin" [class.first]="first">
            <div *ngIf="frame.first !== null" class="left-pin">Left {{ 10 - frame.first }}</div>
          </div>
        </ng-container>
        
        <mat-form-field appearance="fill" *ngIf="showSecondRoll[i] || i === 9">
          <mat-label>Roll 2</mat-label>
          <input matInput type="number" [(ngModel)]="frame.second" placeholder="Roll 2" min="0" [max]="getSecondRollMax(i)" (change)="updateFrame(i)" [disabled]="isGameLoaded" />
          <mat-error *ngIf="!isFrameSumValid(i)">The sum of rolls cannot exceed 10</mat-error>
        </mat-form-field>
        <ng-container *ngIf="frame.second !== null && frame.second > 0">
          <div class="pins-info">
            <img *ngFor="let pin of [].constructor(frame.second); let first = first" src="assets/bowling-pin.png" alt="Bowling Pin" class="pin" [class.first]="first">
            <div *ngIf="frame.first !== null" class="left-pin">Left {{ 10 - ((frame.first ?? 0) + (frame.second ?? 0) + (frame.third ?? 0)) }}</div>
          </div>
        </ng-container>
        
        <mat-form-field appearance="fill" *ngIf="i === 9 && (frame.first === 10 || (frame.first ?? 0) + (frame.second ?? 0) === 10)">
          <mat-label>Roll 3</mat-label>
          <input matInput type="number" [(ngModel)]="frame.third" placeholder="Roll 3" min="0" max="10" [disabled]="isGameLoaded" />
        </mat-form-field>
        <ng-container *ngIf="frame.third != null && frame.third > 0">
          <img *ngFor="let pin of [].constructor(frame.third)" src="assets/bowling-pin.png" alt="Bowling Pin" style="width: 20px; height: 20px;">
        </ng-container>
        <div class="absoluteStrike" *ngIf="frame.first === 10">
          Strike!
        </div>
        <div *ngIf="frame.first !== 10 && (frame.first ?? 0) + (frame.second ?? 0) === 10" class="absoluteSpare">
          Spare!
        </div>
        <div class="absoluteNumFrame">Frame {{ i + 1 }}</div>
      </div>
    </ng-container>

    <h2 class="score">
      <span class="score-title">Current score:</span>
      <span class="score-value">{{ getScore() }}</span> 
    </h2>

    <div class="reset-button-container">
      <button mat-raised-button color="accent" (click)="openDialog('info')">How to fill the score <mat-icon>info</mat-icon></button>
      <button mat-raised-button color="primary" (click)="openDialog('reset')">Reset Game</button> 
      <button mat-raised-button (click)="goHome()">Home</button>
    </div>
  </ng-container>
</div>