.bg {
  background-image: url('/assets/bowling-pins.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px; 
  position: relative;

  &:before,
  &:after {
    position: absolute;
    top: 50px;
    font-size: 44px;
    background: linear-gradient(90deg, #ff0000, #ff7f7f);
    font-weight: 700;
    letter-spacing: 3px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 50px;
  }

  &:before {
    left: 50%;
    transform: translateX(-300px); 
    content: 'Bowling';
  }

  &:after {
    left: 50%;
    transform: translateX(100px); 
    content: 'Calculator';
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px; 
  z-index: 2;  

  .frame {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;

    &.even {
      background: linear-gradient(90deg, #69839E 0%, #D0E4F1 100%);
    }
    
    &.odd {
      background: linear-gradient(90deg, #D0E4F1 0%, #69839E 100%);
    }    

    .pins-info {      
      margin: 0 5px;
      text-align: center;
      
      .pin {
        width: 50px;
        height: 50px;
        margin-left: - 30px;
  
        &.first {
          margin-left: 0;
        }
      }

      .left-pin {
        background-color: #fff;
        padding: 2px 5px;
        border-radius: 5px;
        color: darken(darkgray, 15%);
        width: fit-content;
        display: flex;
        justify-content: center; 
        align-items: center;   
        margin: 0 auto;    
      }
    }    

    .absoluteNumFrame {
      position: absolute;
      bottom: 20px;
      right: 10px;
      font-size: 40px;
      font-style: italic;
      color: #fff;
    }

    .absoluteSpare {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 30px;
      font-style: italic;
      color: darken(green, 10%);
      background-color: #fff;
      border-radius: 5px;
      padding: 5px;
    }

    .absoluteStrike {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 30px;
      font-style: italic;
      color: darken(green, 10%);
      background-color: #fff;
      border-radius: 5px;
      padding: 5px;
    }

    .strike {
      font-style: italic;
      font-weight: 700;
      color: darken(red, 10%);
      padding-left: 5px;
      letter-spacing: 2px;
      font-size: 22px;      
    }
  
    .spare {
      font-style: italic;
      font-weight: 700;
      color: darken(orange, 10%);
      padding-left: 5px;
      letter-spacing: 2px;
      font-size: 20px;
      text-shadow: 2px 2px 4px rgba(255,255,255,0.8);
    }
  }  

  .strikeInfo {     
    background: linear-gradient(to right, rgb(77, 124, 89), darken(rgb(113, 243, 27), 20%)) !important; 
  }

  .spareInfo {    
    background: linear-gradient(to right, rgb(77, 124, 89), darken(rgb(40, 97, 63), 20%)) !important;       
  }
}

.score {
  color: darkred; 
  border: 3px solid darkred;
  border-radius: 5px;
  padding: 10px;
  
  &-title {    
    margin-right: 5px;
    display: inline-block;
  }
  
  &-value {
    font-size: 1.2em;
  }
}

.reset-button-container button { 
  margin-right: 10px;  
}

.introduction {
  font-size: 22px;
  line-height: 1.5em;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
}

.start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
  padding-top: 50px;
}

.start-button {
  width: 300px !important;
  height: 60px !important;
  font-size: 24px !important;
  line-height: 60px !important;
  padding: 10px 0 !important;
  margin-bottom: 20px;
 
  ::ng-deep .mat-mdc-button-persistent-ripple {
    border-radius: 4px !important;
  }

  ::ng-deep .mdc-button {
    height: 60px !important;
    padding: 0 !important;
  }

  ::ng-deep .mdc-button__label {
    font-size: 24px !important;
  }
  
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}