@use '@angular/material' as mat;

* {
  box-sizing: border-box;
}

html, body { margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;   
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



$my-primary: mat.define-palette(mat.$red-palette, 500);
$my-accent: mat.define-palette(mat.$green-palette, 400);
$my-warn: mat.define-palette(mat.$red-palette, 100);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  )
));

@include mat.all-component-themes($my-theme);